*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.container{
    width: 100%;
    /* height: 100%; */
    min-height: 100vh;
    /* overflow: hidden; */
    background: linear-gradient(135deg,#cf9aff,#95c0ff);
    padding-top: 4%;
    padding-left: 10%;
    color: black;
}
.container h1 {
    display: flex;
    align-items: center;
    font-size: 35px;
}
.container img{
    width: 60px;
}
.container button{
    margin-top: 30px;
    cursor: pointer;
    font-size: 15px;
    padding: 10px;
    background:linear-gradient(#9418fd,#571094);
    border: 0;
    outline: 0;
    border-radius: 40px;
    display: flex;
    align-items: center;
    color: white;
}
.container button img{
    width: 25px;
    margin-right: 8px;
}
.input-box{
    background-color: white;
    position: relative;
    width: 100%;
    max-width: 500px;
    min-height: 150px;
    padding: 10px;
    margin: 20px 0;
    outline: none;
    border-radius: 5px;
}
.input-box  img{
    position: absolute;
    width: 25px;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}
